body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    #ui {
        background: rgba(0,0,0,.7);
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 2;
        overflow-y: auto;
        p {
            font-family: sans-serif;
            color: white;
            margin-block-end: 0;
        }
        .range-slider {
            margin-top: -5%;
        }
        .button {
            padding: 10px 20px;
            margin: 10px auto;
            background: green;
            text-align: center;
            width: 150px;
            border-radius: 3px;
            cursor: pointer;
            border: 2px solid green;
            font-family: sans-serif;
            color: white;
            transition: .2s;
            &:hover {
                background: rgba(0,0,0,.7);
            }
        }
    }
    #renderer {
        z-index: 1;
    }
}