/****SLIDER EXPERIMENT***/

.range-slider {
    width: 90%;
    margin: 0 5%;
}

.rs-range {
    width: 100%;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 15px;
        cursor: pointer;
        box-shadow: none;
        background: rgb(200, 200, 200);
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 100%;
        height: 15px;
        cursor: pointer;
        box-shadow: none;
        background: rgb(200, 200, 200);
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: rgb(220, 220, 220);
        border: 1px solid grey !important;
        border-radius: 5px;
        height: 30px;
        width: 50px;
        cursor: pointer;
        margin-top: -8px;
        transition: .5s;
    }
    &::-moz-range-thumb {
        -webkit-appearance: none;
        background: rgb(220, 220, 220);
        border: 1px solid grey !important;
        border-radius: 5px;
        height: 30px;
        width: 50px;
        cursor: pointer;
        margin-top: -8px;
        transition: .5s;
    }
    &::-moz-focus-outer {
        border: 0;
    }
}

.rs-label {
    position: relative;
    top: 24px;
    left: 25px;
    pointer-events: none;
    line-height: 30px;
    color: black;
}