body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    #ui {
        background: rgba(0,0,0,1);
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 2;
        overflow-y: auto;
        p {
            font-family: sans-serif;
            color: white;
            padding: 10px 20px;
            margin-block-end: 0;
        }
        input[type="color"] {
            width: 100%;
            padding: 0;
        }
        .range-slider {
            margin-top: -5%;
        }
        .button {
            padding: 10px 20px;
            margin: 10px auto;
            background: green;
            text-align: center;
            width: 150px;
            border-radius: 3px;
            cursor: pointer;
            border: 2px solid green;
            font-family: sans-serif;
            color: white;
            transition: .2s;
            &:hover {
                background: rgba(0,0,0,.7);
            }
        }
    }
    #renderer {
        z-index: 1;
    }

    #toolbar {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        column-gap: 10px;
        padding: 10px;
        height: 50px;

        a {
            flex: 1;
            cursor: pointer;
            transition: .2s;
            &:hover {
                transform: scale(1.1);
            }

            img {
                height: 100%;
            }
        }
    }
}